<h1>Modifier l'article</h1>
<div class="form"><%= form_with model: @article, local: true do |form| %>
    <p>
        <%= form.label :titre %><br>
        <%= form.text_field :titre %>
    </p>
    <p>
        <%= form.label :contenu %><br>
        <%= form.text_area :contenu %>
    </p>
    <p>
        <%= form.label :auteur %><br>
        <%= form.text_field :auteur %>
    </p>
    <p>
        <%= form.submit "Modifier" %>
    </p>
<%end%>
</div>
